
<form (submit)="onLoginSubmit()">
  <h2 class="page-header">Policy Search </h2>
  <div class="form-group">
    <label>Provide Policy number</label>
    <input style='display:block;width:auto' type="text" class="form-control" [(ngModel)]="email" name="email">
  </div>
  <input type="submit" class="btn btn-primary" value="SearchDB">
</form>
