<h2 class="page-header">Primary Dashboard</h2>
<!-- <p>Dashboard under construction .... coming soon</p> -->
<button (click)="exportToExcel()" class="btn btn-primary">Export to excel</button>
<p>Total Applications: {{ apps ? apps.length-1: '0' }}</p>

<table class="table table-bordered table-striped" id="report">
     <thead>
     <tr>
       <!-- <th>ID</th> -->
       <th align="center">Application</th>
       <th align="center">Total Users</th>
       <th align="center">Pending</th>
       <th align="center">Recertified</th>
       <th align="center">Expired</th>
       <th align="center">Removals</th>
       <th align="center">Leavers</th>
      <th align="center">No Change</th>
      <th align="center">Moved to Special Cycle</th>
     </tr>
     </thead>
     <tbody>
       <tr  *ngFor="let primaryapplication of apps">
				<td align="center"><b>{{primaryapplication.application}}</b></td>
        <td align="center" ><p style="color:Blue"><b>{{primaryapplication.total}}</b></p></td>
        <td align="center" ><p style="color:Red"><b>{{primaryapplication.pending}}</b></p></td>
        <td align="center" ><p style="color:Brown"><b>{{primaryapplication.recertified}}</b></p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.expired}}</p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.removals}}</p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.leavers}}</p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.noChange}}</p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.movedToSpecial}}</p></td>
     </tbody>
   </table>
