<h4>
<!-- here we echo the title from the component -->
  <b>{{title}}</b>
</h4>

<!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<!-- button to trigger the file upload when submitted -->
<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span>Upload Application
</button>


<a class="btn btn-info" routerLink="/addapplications">Manual Entry Application</a>
<button (click)="exportToExcel()" class="btn btn-primary">Export to excel</button>
<br />
<p>Total Applications: <b>{{ primaryapplications ? primaryapplications.length: '0' }}</b></p>

 <!-- <div class="navbar-nav navbar-right">
   <a class="btn btn-light"  (click)="download()">Download Report</a>
 </div> -->

<table class="table table-bordered table-striped" id="my-table-id">
		  <thead>
			<tr>
			  <th>Application Name</th>
			  <th>Application Owner</th>
			  <th>Business Unit</th>
        <th>Platform</th>
			  <th width="270" align="center">Action</th>
			</tr>
		  </thead>
		  <tbody>
			 <tr  *ngFor="let primaryapplication of primaryapplications | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}; let i = index">
				<td>{{primaryapplication.applicationName}}</td>
				<td>{{primaryapplication.applicationOwner}}</td>
				<td>{{primaryapplication.bu}}</td>
        <td>{{primaryapplication.platform}}</td>
				<td width="270">
					<a class="btn btn-info" routerLink="/showapplication/{{primaryapplication._id}}">Details</a>
					<a class="btn btn-success"  routerLink="/editapplication/{{primaryapplication._id}}">Edit</a>
					<a class="btn btn-danger"  (click)="deleteApplication(primaryapplication._id)">Delete</a>
        </td>
			 </tr>
		  </tbody>
		</table>
    <div class="centre">


                <pagination-controls  id="1"
                      (pageChange)="page = $event"
                      maxSize="7"
                      directionLinks="true"
                      autoHide="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
   </div>

      <!-- <div id="report" hidden>
        <table class="table table-bordered table-striped" >
        		  <thead>
        			<tr>
        			  <th>Application Name</th>
        			  <th>Application Owner</th>
        			  <th>Business Unit</th>
                <th>Platform</th>
                <th>Classification</th>
                <th>Scope</th>
                <th>SAM Contact Person</th>
                <th>Comments</th>
        			</tr>
        		  </thead>
        		  <tbody>
        			 <tr  *ngFor="let primaryapplication of primaryapplications">
        				<td>{{primaryapplication.applicationName}}</td>
        				<td>{{primaryapplication.applicationOwner}}</td>
        				<td>{{primaryapplication.bu}}</td>
                <td>{{primaryapplication.platform}}</td>
                <td>{{primaryapplication.classification}}</td>
                <td>{{primaryapplication.scope}}</td>
                <td>{{primaryapplication.poc}}</td>
                <td>{{primaryapplication.comments}}</td>
        			 </tr>
        		  </tbody>
        		</table>
        </div> -->
