<h4>
<!-- here we echo the title from the component -->
  <b>List of Managers</b> <button (click)="exportToExcel()" class="btn btn-primary">Export to excel</button>
</h4>

<p>Total Managers: {{ listmanagers ? listmanagers.length: '0' }}</p>
<table class="table table-bordered">
		  <thead>
			<tr>
			  <th width="40%">Manager Email - ID</th>
			  <th width="10%" align="center">Action</th>
					</tr>
		  </thead>
		  <tbody>
				<tr  *ngFor="let manager of listmanagers | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
				<td width="40%">{{manager.manager}}</td>
				<td width="10%">
					<a class="btn btn-success btn-sm"  routerLink="/managerchangeedit/{{manager._id}}">Edit</a>
				</td>
				 </tr>
		  </tbody>
		</table>
		<div class="centre">
	<pagination-controls class="pagination-lg" (pageChange)="page = $event" id="1"
							maxSize="10"
							directionLinks="true"
							autoHide="true">
				</pagination-controls>`
	</div>
