



<form (submit)="onLoginSubmit()">
  <h2 class="page-header">Manager Login</h2>
    <label>Email Id:</label>
    <input type="text" id="username"  [(ngModel)]="username" name="username" ng-change="username=username.toUpperCase();">
    <input type="submit" class="btn btn-primary" value="Login">
</form>
