<p>Hi <b>{{user}}</b> </p>

<input type="hidden" name="loggedmanager" id="loggedmanager"  value={{user}}/>

  <p>Users assigned to you are : {{ primarymanagers ? primarymanagers.length: '0' }}</p>
  <button [disabled]="! primarymanagers || primarymanagers.length==0" class="btn btn-info" id="submit" (click)=saveResponse()>Submit</button>
  <button [disabled]="! primarymanagers || primarymanagers.length==0" class="btn btn-success" id="clear"(click)=clearSearch()>Clear</button>
  <button [disabled]="! primarymanagers || primarymanagers.length==0" (click)="exportToExcel()" id="export" class="btn btn-primary">Export to excel</button>

<div class="navbar-nav navbar-right">
<b> Mark All as  </b>
    <div class="checkbox" style="display: inline" *ngFor="let status of statusAll">
       <label>
         <input type="radio" name="status" (click)="setToRentControl(status.value)" [(ngModel)]="radioValue" [value]="status.value">
         <b>{{status.display}}</b>
         </label>
    </div>
  </div>


    <!-- <a class="btn btn-danger" (click)="deleteApplication(primaryapplication._id)">Delete</a> -->
      <!-- <p>Filter List:  {{(primarymanagers|filterBy: userFilter).length}}</p> -->

<table class="table table-bordered table-striped">
     <thead>
     <tr>
       <!-- <th>ID</th> -->
       <th>Manager</th>
       <th>Resource</th>
       <!-- <th class="col-sm-1">Initials</th> -->
       <th>LogonID</th>
         <!-- <th>User Location</th> -->
       <th>Application</th>
      <th>Status</th>
     </tr>
     </thead>
     <tr>
       <td><input type="text" [(ngModel)]="userFilter.manager" placeholder="Manager"></td>
       <td><input type="text" [(ngModel)]="userFilter.resource" placeholder="Resource"></td>
       <!-- <td class="col-sm-1"><input type="text" [(ngModel)]="userFilter.initials" placeholder="Initials"></td> -->
       <td><input type="text" [(ngModel)]="userFilter.logonid" placeholder="LogonID"></td>
       <!--  <td><input type="text" [(ngModel)]="userFilter.userlocation" placeholder="User Location"></td> -->
       <td><input type="text" [(ngModel)]="userFilter.application" placeholder="Application"></td>
      <td><input type="text" [(ngModel)]="userFilter.status" placeholder="Status"></td>

    </tr>
     <tbody>
      <tr  *ngFor="let manager of primarymanagers  | filterBy: userFilter | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
      <!-- <td>{{manager._id}}</td> -->
<!-- <div ng-repeat="manager in primarymanagers | filter:query as results">
<tr> -->
       <td>{{manager.manager}}</td>
       <td>{{manager.resource}}</td>
       <!-- <td>{{manager.initials}}</td> -->
       <td>{{manager.logonid}}</td>
       <!-- <td>{{manager.userlocation}}</td> -->
       <td>{{manager.application}}</td>
       <td>

       <select [(ngModel)]="manager.status">
           <option  *ngFor="let product of products"
             [value]="product.name"
             [attr.selected]="manager.status==product.name ? true : null">
           {{product.name}}
           </option>
         </select>
  </td>

      </tr>
      <tr *ngIf="! primarymanagers || primarymanagers.length==0">
        <td colspan="6" style="text-align: center;">No Records exist</td>
      </tr>
     </tbody>

   </table>
<!-- <p>Showing {{filtered.length}} Records</p> -->


   <div class="centre">
<pagination-controls class="pagination-lg" (pageChange)="page = $event" id="1"
             maxSize="10"
             directionLinks="true"
             autoHide="true">
       </pagination-controls>`
</div>
<div hidden>
  <table class="table table-bordered table-striped" id="filter_table_output">
    <thead>
    <tr>
      <th>Manager</th>
      <th>Resource</th>
      <th>LogonID</th>
      <th>Application</th>
     <th>Status</th>
    </tr>
    </thead>
   
    <tbody>
     <tr  *ngFor="let manager of primarymanagers  | filterBy: userFilter ; track let i = index" id={{i}}>
     <td style="display: none;">{{manager._id}}</td>
      <td>{{manager.manager}}</td>
      <td>{{manager.resource}}</td>
      <td>{{manager.logonid}}</td>
      <td>{{manager.application}}</td>
      <td>

      <select [(ngModel)]="manager.status" id="{{'status-'+ i}}">
          <option  *ngFor="let product of products"
            [value]="product.name"
            [attr.selected]="manager.status==product.name ? true : null">
          {{product.name}}
          </option>
        </select>
 </td>

     </tr>
    </tbody>

  </table>



</div>