<p>Hi {{user}} </p>

<p>Total Number of users : {{ data ? data.length: '0' }}</p>
<form (submit)="onSubmit()">
        <table class="table table-bordered">
             <thead>
             <tr>
               <td>Manager</td>
               <td>Surname</td>
               <td>Initials</td>
               <td>LogonID</td>
               <td>User Location/Region</td>
               <td>Application</td>
               <td>status</td>
             </tr>
           </thead>
             <tbody>
              <tr  *ngFor="let manager of primarymanagers">
               <td>{{manager.manager}}</td>
               <td>{{manager.surname}}</td>
               <td>{{manager.initials}}</td>
               <td>{{manager.logonid}}</td>
               <td>{{manager.userlocation}}</td>
               <td>{{manager.application}}</td>
               <td><select name="singleSelect" ng-model="data.singleSelect">
     <option value="option-1">Not Recertified</option>
     <option value="option-2">No Change</option>
     <option value="option-2">Leavers</option>
     <option value="option-2">Removals</option>
   </select><br></td>
              </tr>
             </tbody>
           </table>
<input type="submit" class="btn btn-primary" value="Submit">
<a (click)="onLogoutClick()" href="#">Logout</a>
</form>
