
<!-- <p>Total Managers: {{ listmanagers ? listmanagers.length: '0' }}</p>
<select class="selectpicker" data-live-search="true" >
  <option *ngFor="let manager of listmanagers" value= {{manager._id}}>
    {{manager.manager}}
  </option>
</select> -->
<input type="hidden" name="loggedmanager" id="loggedmanager"  value={{user}}/>
<div class="panel panel-default">
<div class="panel-heading">Delegate Manager: <b>{{user}}</b> can delegate another manager to recertify users assigned to you.</div>
<div class="panel-body">
<form class="form-horizontal">
<div class="form-group">
  <label for="mgr_name" class="col-sm-2 control-label">Manager Email ID:</label>
  <div class="col-sm-9">
    <input type="text" class="col-sm-6 form-control" value={{dmanager}} name="delegatemanagerName" id="delegatemanagerName">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8">
    <button class="btn btn-info" id="save" (click)="updateManager()">Save</button>
    <button class="btn btn-danger"  id="remove" (click)="deleteDelegation()">Remove</button>
    <a class="btn btn-success" (click)="goBackScreen()">Back</a>
  </div>
</div>
</form>

</div>
</div>
