<div class="jumbotron text-center">
  <h1>SAM Recertification</h1>
  <p>Welcome to Security Access Management (SAM) Recertification Annual Exercise</p>
  </div>
<div class="row">
  <div class="col-md-4">
    <h3>Objective</h3>
    <p style="font-size:14px">The main objective of SAM Recertification Process is to validate users who have primary access and special access to the in scope applications, with the exception of the LDC Web Applications</p>
    <h3>Primary access :</h3>
    <p style="font-size:14px">Means validating the user who has access to which applications and removing any unnecessary users. This includes mainly business users to front end systems (and needs to cover everyone who has access to the application, be it update, read-only etc).</p>
  </div>
  <div class="col-md-4">
    <h3>Special access :</h3>
    <p style="font-size:14px">Means validate users who have been deemed as having Special Access under the following definitions agreed with ICF in 2007. Below are the definitions (1-4):-</p>
      <p>1.	Update code in Production</p>
      <p>2.	Update Production database or data directly</p>
      <p>3.	Rights to move code to Production</p>
      <p>4.	Access  Role Profile creation / amendment / deletion and System Administrators who have access to Configuration Data.</p>
  </div>
  <div class="col-md-4">
    <h3>Recertification Categories:</h3>
    <b>No change:</b>- Use this category if the access is still required.<br/><br/>
    <b>Leaver:</b>- Use this category if the employee has left Zurich, or left Zurich's account. <br/>
    Please note: This will trigger removal of all accesses including their GAD or EZCORP account <br/>
    Please do not use this category for people who have moved internally within the Zurich Business.
    <br/><br/>
    <b>Removal:</b>- Use this category if access is no longer required to the application for the specified login ID. <br/>
    This category can also be used to remove access to applications where the employee has moved teams and no longer requires access to application.<br/>
  </div>
</div>
