<img src="/assets/dxc.png" alt="Mountain View" height="50" width="20%">
<img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" width="10%" height="0" alt="" />
<img src="/assets/sam.png" alt="dxc logo" height="50" width="25%"/>
<img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" width="10%" height="0" alt="" />
<img src="/assets/zurich.png" alt="dxc logo" align="right" height="50" width="20%"/>
<img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" width="5%" height="0" alt="" />

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <!-- <a class="navbar-brand" href="#">Titian POLO Reconciliation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" (click)="onHome()">Search</a>
          </li>
          <li  *ngIf="!authService.loggedIn()" sclass="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
              <a class="nav-link" (click)="onClient()">Process</a>

		  </li> -->
		  <a class="navbar-brand" href="#">SAM Recertification</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
	
		  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
				<a class="nav-link" [routerLink]="['/']">Home</a>
			  </li>
			  <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
				<a class="nav-link" [routerLink]="['/output']"> Primary Cycle</a>
			  </li>
			  <li class="nav-item" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
				  <a class="nav-link" (click)="onDelegate()" style="cursor: pointer;">Delegate Manager</a>
			</li>


          <!--[routerLink]="['/output']"  [routerLink]="['/']" -->

         <!-- <div class="navbar-nav navbar-left dropdown" dropdown>
				<li  *ngIf="authService.loggedIn()" sclass="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link" dropdown-open>Primary Cycle<b class="caret"></b></a></li>
				<ul class="dropdown-menu">
						<li><a [routerLink]="['/applications']"> Applications In-Scope</a></li> 
						<li><a [routerLink]="['/userextracts']"> User Extracts</a></li>
						<li><a [routerLink]="['/managerextracts']"> Manager Extracts</a></li>
						<li><a [routerLink]="['/managerchange']">4. Update Manager Email-ID</a></li>
						<li><a [routerLink]="['/output']"> Recertification</a></li>
				</ul>
      </div> -->

    <!--    <div class="navbar-nav navbar-left dropdown" dropdown>
				<li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link" dropdown-open>Special Cycle I<b class="caret"></b></a></li>
				<ul class="dropdown-menu">
						<li><a [routerLink]="['/applications']">1. Applications In-Scope</a></li>
						<li><a [routerLink]="['/userextracts']">2. User Extracts</a></li>
						<li><a [routerLink]="['/managerextracts']">3. Manager Extracts</a></li>
						<li><a [routerLink]="['/managerchange']">4. Update Manager Email-ID</a></li>
						<li><a [routerLink]="['/output']">5. Recertification</a></li>
				</ul>
		    </div>

        <div class="navbar-nav navbar-left dropdown" dropdown>
				<li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link" dropdown-open>Special Cycle II<b class="caret"></b></a></li>
				<ul class="dropdown-menu">
						<li><a [routerLink]="['/applications']">1. Applications In-Scope</a></li>
						<li><a [routerLink]="['/userextracts']">2. User Extracts</a></li>
						<li><a [routerLink]="['/managerextracts']">3. Manager Extracts</a></li>
						<li><a [routerLink]="['/managerchange']">4. Update Manager Email-ID</a></li>
						<li><a [routerLink]="['/output']">5. Recertification</a></li>
				</ul>
      </div> -->
        </ul>

      <ul class="navbar-nav navbar-right">
			<li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/login']" >Manager Login</a></li>
			<li class="nav-item" *ngIf="authService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a></li>      		
		</ul>

      </div>
    </nav>
