<div class="panel panel-default">
<div class="panel-heading">Application Edit Form : You can edit an Application detail's information into this SAM Apps.</div>
<div class="panel-body">
<form class="form-horizontal" (submit)="updateApplication()">
<div class="form-group">
  <label for="appname" class="col-sm-2 control-label">Application Name : </label>
  <div class="col-sm-3">
    <input  type="text" class="form-control" [(ngModel)]="primaryapplications.applicationName" name="applicationName" >
  </div>
</div>
<div class="form-group">
  <label for="appowner" class="col-sm-2 control-label">Application Owner : </label>
  <div class="col-sm-3">
    <input  type="text" class="form-control" [(ngModel)]="primaryapplications.applicationOwner" name="applicationOwner">
  </div>
</div>
<div class="form-group">
  <label for="bu" class="col-sm-2 control-label">Business Unit : </label>
  <div class="col-sm-2">
    <select [(ngModel)]="primaryapplications.bu" name ="primaryapplications.bu" class="form-control" style="height: 30px">
        <option  *ngFor="let product of bu"
          [value]="product.name"
         [attr.selected]="primaryapplications.bu==product.name ? true : null">
        {{product.name}}
        </option>
      </select>
    </div>
</div>
<div class="form-group">
  <label for="platform" class="col-sm-2 control-label">Platform : </label>
  <div class="col-sm-2">
    <select [(ngModel)]="primaryapplications.platform" name ="primaryapplications.platform" class="form-control" style="height: 30px">
        <option  *ngFor="let product of platform"
          [value]="product.name"
        [attr.selected]="primaryapplications.platform==product.name ? true : null">
        {{product.name}}
        </option>
      </select>
    </div>
</div>
<div class="form-group">
  <label for="classification" class="col-sm-2 control-label">Classification : </label>
  <div class="col-sm-3">
    <select [(ngModel)]="primaryapplications.classification" name ="primaryapplications.classification" class="form-control" style="height: 35px">
        <option  *ngFor="let product of classification"
          [value]="product.name"
        [attr.selected]="primaryapplications.classification==product.name ? true : null">
        {{product.name}}
        </option>
      </select>
    </div>
</div>
<div class="form-group">
  <label for="scope" class="col-sm-2 control-label">Scope : </label>
  <div class="col-sm-3">
    <select [(ngModel)]="primaryapplications.scope" name ="primaryapplications.scope" class="form-control" style="height: 35px">
        <option  *ngFor="let product of scope"
          [value]="product.name"
        >
        {{product.name}}
        </option>
      </select>
    </div>
</div>
<div class="form-group">
  <label for="poc" class="col-sm-2 control-label">SAM Contact Person : </label>
  <div class="col-sm-4">
    <input  type="text" class="form-control" [(ngModel)]="primaryapplications.poc" name="poc">
  </div>
</div>
<div class="form-group">
  <label for="comments" class="col-sm-2 control-label">Comments : </label>
  <div class="col-sm-4">
    <input type="text" class="form-control" [(ngModel)]="primaryapplications.comments" name="comments">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8">
    <button type="submit" class="btn btn-success">Update</button>
     <a class="btn btn-info" (click)="goBack()">Cancel</a>
  </div>
</div>
</form>
</div>
</div>
