<h4>
<!-- here we echo the title from the component -->
  <b>{{title}}</b>
</h4>

<input type="file" name="photo" ng2FileSelect [uploader]="uploader" accept=".xlsx, .xls" multiple />
   <button type="button" class="btn btn-success btn-s" [disabled]="!uploader.getNotUploadedItems().length"
                   (click)="uploader.uploadAll();">
           <span class="glyphicon glyphicon-upload"></span> Upload Manager Extracts
         </button>
         <button (click)="exportToExcel()" class="btn btn-primary">Export to excel</button>
         <br />
 <p>Total Number of users uploaded: {{ primarymanagers ? primarymanagers.length: '0' }}</p>

         <table class="table table-bordered table-striped">
         		  <thead>
         			<tr>
         			  <th>Manager</th>
         			  <th>Resource</th>
         			  <th>Initials</th>
                <th>LogonId</th>
                <th>User Location/Region</th>
                <th>Application</th>
         			</tr>
         		  </thead>
         		  <tbody>
         			 <tr  *ngFor="let manager of primarymanagers | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
         				<td>{{manager.manager}}</td>
         				<td>{{manager.resource}}</td>
         				<td>{{manager.initials}}</td>
                <td>{{manager.logonid}}</td>
                <td>{{manager.userlocation}}</td>
                <td>{{manager.application}}</td>
         			 </tr>
               </tbody>
               <tr *ngIf="! primarymanagers">
                <td colspan="6" style="text-align: center;">No Records exist</td>
                </tr>
         		</table>

            <div class="centre">
    <pagination-controls class="pagination-lg" (pageChange)="page = $event" id="1"
                      maxSize="10"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>`
   </div>
