<h4>
<!-- here we echo the title from the component -->
  <b>{{title}}</b>
</h4>
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" multiple  accept=".xlsx, .xls"/>
   <button type="button" class="btn btn-success btn-s" [disabled]="!uploader.getNotUploadedItems().length"
                 (click)="uploader.uploadAll();">
           <span class="glyphicon glyphicon-upload"></span> Upload users
         </button>
      <!--   <a class="btn btn-light"  (click)="download()">Download Report</a>  -->
      <button (click)="exportToExcel()" class="btn btn-primary">Export to excel</button>
      <br />
 <p>Total Number of users uploaded:<b> {{ primaryusers ? primaryusers.length: '0' }} </b></p>
       <table class="table table-bordered table-striped">
         		  <thead>
         			<tr>
         			  <th>LogonID </th>
         			  <th>Application</th>
         			  <th>Region</th>
                <th>UserName </th>
         			</tr>
         		  </thead>
         		  <tbody>
              <tr  *ngFor="let primaryuser of primaryusers | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
         				<td>{{primaryuser.logonid}}</td>
         				<td>{{primaryuser.application}}</td>
         				<td>{{primaryuser.region}}</td>
                <td>{{primaryuser.name}}</td>
         			 </tr>
         		  </tbody>
         		</table>
            <div class="centre">
    <pagination-controls class="pagination-lg" (pageChange)="page = $event" id="1"
                      maxSize="10"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>`
   </div>

  <!-- <div id="report1" >
     <table class="table table-bordered table-striped" >
           <thead>
           <tr>
             <th>LogonID </th>
             <th>Application</th>
             <th>Region</th>
             <th>UserName </th>
           </tr>
           </thead>
           <tbody>
             <tr  *ngFor="let primaryuser of primaryusers">
              <td>{{primaryuser.logonid}}</td>
              <td>{{primaryuser.application}}</td>
              <td>{{primaryuser.region}}</td>
              <td>{{primaryuser.name}}</td>
            </tr>
           </tbody>
         </table>
     </div> -->
